<%- include("partials/header") -%>

<h1>Contact</h1>
<p><%=ContactContent%></p>

</div>
<div class="footer-padding changeit" >
  <div class="footer">
    <p>Copyrights 2020 @Raghunadh</p>
  </div>
</div>
</body>
</html>