.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

h1 {
    margin-bottom: 20;
    display: inline-block;
}

.raghu {
    margin-top: 5px;
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: grey;
    opacity: 0.4;
    color: black;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    float: right;
    text-align: center;
    font-size: 3rem;
}

.raghu:hover{
    text-decoration: none;
    color:#fff;
}


.footer-padding {
	padding-bottom: 60px;
}


.footer {
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
